<div class="wrapper bg-warning">
  <div>
    <app-toolbar></app-toolbar>
  </div>
  <div class="main">
    <router-outlet></router-outlet>
  </div>
  <div>
    <app-footer></app-footer>
  </div>
</div>
