<div class="p-5 text-center">
  <h2 class="font-italic mb-3">{{ isEdit? 'Edit ingestion' : 'Creat ingestion'}}</h2>
  <form class="p-3 rounded col-8 m-auto" (ngSubmit)="saveIngestion()" #form="ngForm">
    <div class="d-flex flex-column">
      <label for="select"  class="h5 font-italic m-4">Category:</label>
      <select id="select" class="m-auto text-center pl-5 pr-5 pt-2 pb-2 col-5 rounded bg-white" name="select" ngModel>
        <option value="">Select ingestion</option>
        <option value="Breakfast">Breakfast</option>
        <option value="Snack">Snack</option>
        <option value="Lunch">Lunch</option>
        <option value="Dinner">Dinner</option>
      </select>
    </div>
    <div class="d-flex flex-column m-auto col-4">
      <label for="date"  class="h5 font-italic m-4">Date:</label>
      <input type="date" name="date" id="date" class="rounded pt-1 pb-1 pl-4 pr-2" ngModel/>
    </div>
    <div class="form-group m-auto col-7">
      <label for="inputTextArea" class="h5 font-italic">Description</label>
      <textarea name="description"  class="form-control mt-2"  id="inputTextArea" ngModel></textarea>
    </div>
    <div class="form-group m-auto col-6">
      <label for="inputAuthor" class="h5 font-italic">Calorie</label>
      <input type="number" name="calorie" class="form-control mt-2" id="inputAuthor" ngModel/>
    </div>
    <button
      type="submit"
      class="btn btn-primary m-3"
      [disabled]="
      form.value.select === '' ||
      form.value.description === '' ||
      form.value.calorie === ''">
      <span *ngIf="!loading">{{ isEdit? 'Edit' : 'Creat'}}</span>
      <span *ngIf="loading" class="spinner-border spinner-border-sm"><span class="sr-only">Removing...</span></span>
    </button>
  </form>
</div>
