<div class="d-flex justify-content-around mb-3 border-bottom border-dark p-3">
  <h4 class="pt-2">Total calories:
    <span *ngIf="!loading">{{totalCalorie}}</span>
    <span *ngIf="loading" class="spinner-border spinner-border-md"><span class="sr-only">Removing...</span></span>
    kcal</h4>
  <button class="btn btn-success" routerLink="new-ingestion">Creat new ingestion</button>
</div>
<h2 class="text-center p-3 font-italic">{{arrayIsEmpty? 'Sorry, here no ingestion' : 'All ingestion'}}</h2>
<ng-container *ngIf="!loading, else preloader">
  <div *ngFor="let ingestion of arrayIngestion" class="d-flex justify-content-center">
    <div class="card bg-dark border-dark col-7 p-0 m-2 text-warning" *ngIf="arrayIngestion">
      <p class="card-header text-center">{{ingestion.date}}</p>
      <div class="card-header d-flex justify-content-around">
        <p class="text-capitalize h3">{{ ingestion.time }}</p>
        <p class="card-text h5 p-2">Calorie: {{ ingestion.calorie }} kcal</p>
      </div>
      <div class="card-body">
        <h5 class="card-text border-bottom border-warning p-2">Description: {{ ingestion.description }}</h5>
        <div class="d-flex justify-content-center">
          <a [routerLink]="[ingestion.id, 'edit']" class="btn btn-primary m-3 pl-4 pr-4">Edit</a>
          <button class="btn btn-danger m-3" (click)="onRemoveIngestion(ingestion.id)">
            <span *ngIf="ingestionId !== ingestion.id">Delete</span>
            <span *ngIf="ingestionId === ingestion.id" class="spinner-border spinner-border-sm"><span class="sr-only">Removing...</span></span>
          </button>
        </div>
      </div>
    </div>
  </div>
</ng-container>
<ng-template #preloader>
  <div class="preloader">
    <div></div>
    <div></div>
  </div>
</ng-template>
